.error-container, .success-container {
    padding: 17px;
    color: white;
}
.error-container{
    background-color: var(--error-color);
    border-left: 10px solid var(--error-second-color);
}

.success-container {
    background-color: var(--light-green);
    border-left: 10px solid green;
}

.error-container span {
    font-weight: 600;
}
.error-container p {
    font-weight: 300;
}
.error{
    margin-bottom: 30px;
}