<div class="w-100">
    <h1>Dodaj Knjigu</h1>
    <app-error class="error-cont w-100 d-flex justify-content-center" *ngIf="showNotification" [isError]="false" [isSuccess]="true" notification="Uspešno dodata nova knjiga" title="Uspešno"></app-error>
    <app-upload-image 
        text="Dodaj naslovnu sliku"
        (imageSelected)="changePicture($event)"
    ></app-upload-image>
    <div class="d-flex w-100">
        <app-custom-input
            class="w-100"
            title="Naslov"
            placeholder="Unesite naslov knjige"
            [isDisabled]="false"
            (valueChange)="changeTitle($event)"
        ></app-custom-input>
    </div>
    <div class="d-flex w-100">
        <app-custom-textarea
            class="w-100"
            title="Opis"
            placeholder="Unesite opis knjige"
            addition="Max 3000 karaktera"
            (valueChange)="changeDescription($event)"
        ></app-custom-textarea>
    </div>
    <div class="twoinrow d-flex w-100">
        <app-custom-select 
            title="Kategorija" 
            class="w-100"
            (categoryEmmiter)="changeCategory($event)"
        ></app-custom-select>
        <app-custom-input
            class="w-100"
            title="Tagovi"
            [isRequired]="false"
            placeholder="Unesite tag"
            [isDisabled]="false"
            (valueChange)="changeTags($event)"
        ></app-custom-input>
    </div>
    <p class="mb-1 pdf-title">PDF knjige <span>*</span></p>
    <div class="pdf w-100">
        <input type="file" id="pdf" (change)="changePdf($event)"/>
    </div>
    <div class="add">
        <app-button-with-icon
            class="add w-100"
            [showIcon]="false"
            text="Dodaj knjigu"
            (clickEvent)="saveBook()"
        ></app-button-with-icon>
    </div>
</div>
  