<footer class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container footer-main d-flex">
        <div class="firsttwo d-flex w-100">
            <div class="first">
                <img src="assets/images/logo.svg" />
                <p class="location">Stara Železnička Kolonija 5A</p>
                <a href="" class="show-map">PRIKAZI NA MAPI</a>
                <div class="links d-flex">
                    <a href="">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="second">
                <h2>Potrebna ti je pomoć?</h2>
                <h3>(+381) 63 7303883</h3>
                <h4>idjordje63&#64;gmail.com</h4>
            </div>
        </div>
        <div class="secondtwo d-flex w-100">
            <div class="third m-0">
                <h2>Potrebna ti je pomoć?</h2>
                <a href="">O nama</a>
                <a href="">Kontakt</a>
                <a href="">Podrška</a>
            </div>
            <div class="third">
                <h2>Kategorije</h2>
                <a href="">Akcija</a>
                <a href="">Fantazija</a>
                <a href="">Ljubavni</a>
                <a href="">Fikcija</a>
                <a href="">Dokumentarac</a>
                <a href="">Popularna psihologija</a>
                <a href="">Biografija</a>
            </div>
            <div class="third">
                <h2>Brzi linkovi</h2>
                <a href="">Najnovije knjige</a>
                <a href="">Popularni autori</a>
                <a href="">Pretraži knjigu</a>
                <a href="">Kreiraj nalog</a>
                <a href="">Prijavi se</a>
                <a href="">Dodaj knjigu</a>
            </div>
        </div>
    </div>
</footer>
<div
    class="second-footer w-100 d-flex align-items-center justify-content-center"
>
    <p class="text-center">
        Copyright © 2024 <span>Bookory</span> (Đorđe Ivanović). Sva prava
        zadržava.
    </p>
</div>
