.main-container {
    padding: 0px 20px;
}
.navigation {
    padding-top: 30px;
    padding-bottom: 30px;
}
.main {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
    column-gap: 60px;
}
.image-container {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
}
.image-container img {
    object-fit: cover;
    border-radius: 15px;
}
.author-info h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
.description {
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.description p {
    padding-right: 30px;
    font-size: 14px;
    font-weight: 300;
    color: var(--light-gray-text-color);
}
.socials {
    padding: 20px 0 20px 65px;
    border-left: 1px solid lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.social {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid lightgray;
    margin-bottom: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.social fa-icon {
    color: var(--light-gray-text-color);
    transition-duration: 0.3s;
}
.social:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.social:hover fa-icon {
    color: white;
}
.books-title {
    font-size: 26px;
    font-weight: 600;
    margin-right: 25px;
}
.line {
    height: 1px;
    background-color: lightgray;
}
.book-header {
    margin-bottom: 40px;
}
.primary {
    margin-bottom: 80px;
}
.no-books{
    width: 100%;
    font-weight: 600;
    font-style: italic;
}
@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 1024px) {
    .description {
        flex-direction: column;
        align-items: start;
    }
    .socials {
        border-left: none;
        padding-left: 0px;
        flex-direction: row;
    }
    .social {
        margin: 0;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .author-info {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1366px) {
}
