<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container navigation">
        <app-links-nav
            [links]="navLinks"
            currentLink="{{authorData?.firstName}} {{authorData?.lastName}}"
        ></app-links-nav>
    </div>
</div>
<div class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="main-container main d-flex">
        <div class="image-container">
            <img
                src="{{authorData?.picture}}"
                class="w-100 h-100"
            />
        </div>
        <div class="author-info flex-fill">
            <h3>{{authorData?.firstName}} {{authorData?.lastName}}</h3>
            <div class="description d-flex">
                <p class="">{{authorData?.about}}</p>
                <div class="socials d-flex">
                    <a href="{{authorData?.facebook}}" *ngIf="authorData?.facebook">
                        <div class="social d-flex align-items-center justify-content-center"
                        >
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </div>
                    </a>
                    <a href="{{authorData?.instagram}}" *ngIf="authorData?.instagram">
                        <div class="social d-flex align-items-center justify-content-center"
                        >
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </div>
                    </a>
                    <a href="{{authorData?.linkedin}}" *ngIf="authorData?.linkedin">
                        <div class="social d-flex align-items-center justify-content-center"
                        >
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container primary">
        <div
            class="book-header d-flex align-items-center justify-content-strach"
        >
            <h4 class="books-title">Knjige od {{authorData?.firstName}} {{authorData?.lastName}}</h4>
            <div class="line flex-fill"></div>
        </div>
        <div class="w-100">
            <ng-container *ngIf="authorData?.booksCount && authorData?.booksCount! > 0">
                <app-book-widget-2 *ngFor="let book of authorData?.books" [book]="book"></app-book-widget-2>
                <app-loadmore *ngIf="showLoadMore()" [minValue]="authorData?.books?.length" [maxValue]="authorData?.booksCount" (clickTrigger)="loadMore()"></app-loadmore>
            </ng-container>
            <ng-container *ngIf="authorData?.booksCount && authorData?.booksCount === 0">
                <p class="no-books text-center">Autor još uvek nema nijednu knjgu!</p>
            </ng-container>
            
        </div>
    </div>
</div>
