<app-headtag title="Šop" [link]="links" currentLink="šop"></app-headtag>

<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container d-flex align-items-start">
        <div class="filters-container">
            <app-filters></app-filters>
        </div>
        <div class="books-container flex-fill">
            <div class="sorting d-flex">
                <div class="show-type">
                    <a href="#" class="active"
                        ><fa-icon [icon]="faTable"></fa-icon
                    ></a>
                    <a href="#"><fa-icon [icon]="faList"></fa-icon></a>
                </div>
                <div class="options d-flex align-items-center">
                    <select class="sort prim text-end">
                        <option value="0" selected>Podrazumevano</option>
                        <option value="1">Po popularnosti</option>
                        <option value="2">Po prosečnoj oceni</option>
                        <option value="3">Prvo najnoviji</option>
                    </select>
                    <div class="separator"></div>
                    <p class="showing-text">Prikaži</p>
                    <select class="sort text-end">
                        <option value="0" selected>8</option>
                        <option value="1">16</option>
                        <option value="2">24</option>
                        <option value="3">32</option>
                    </select>
                </div>
            </div>
            <div class="w-100 d-flex flex-column">
                <div class="reset">
                    <a href="">
                        <fa-icon [icon]="faClose"></fa-icon>
                        <span>Obriši filtere</span>
                    </a>
                </div>
                <app-shop-list></app-shop-list>
            </div>
        </div>
    </div>
</div>
