.main-container {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 20px;
    column-gap: 30px;
}
.filters-container {
    width: 300px;
}
.books-container {
    width: calc(100% - 300px);
}
.filter {
    padding: 25px 40px 40px 40px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 25px;
}
.filter .header {
    border-bottom: 1px solid lightgray;
    margin-right: -40px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.filter .header .title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.category {
    margin-bottom: 10px;
}
.category label {
    font-size: 14px;
    font-weight: 200;
    margin-left: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.category label:hover {
    color: var(--main-color);
}
.category span {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-gray-text-color);
}
.sorting {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.show-type a {
    text-decoration: none;
    color: lightgray;
    transition-duration: 0.3s;
}
.show-type a:hover {
    color: black;
}
.show-type a.active {
    color: black;
}
.show-type fa-icon {
    margin-right: 10px;
}
.options .sort {
    font-size: 12px;
    font-weight: 300;
    padding: 0 6px 0 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.options .sort.prim {
    margin-right: 15px;
}
.options .showing-text {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    color: var(--light-gray-text-color);
}
.options .separator {
    width: 1px;
    height: 20px;
    background-color: lightgray;
}