<app-headtag title="Šop" [link]="links" currentLink="šop"></app-headtag>

<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container d-flex align-items-start">
        <div class="filters-container">
            <div class="filter w-100">
                <div class="header">
                    <p class="title m-0">Žanr</p>
                </div>
                <div class="body">
                    <div class="category d-flex align-items-center" *ngFor="let item of allCategories">
                        <input type="checkbox" id="{{item}}" />
                        <label for="category1">{{item}}</label>
                    </div>
                </div>
            </div>
            <div class="filter w-100">
                <div class="header">
                    <p class="title m-0">Autori</p>
                </div>
                <div class="body">
                    <div
                        class="category d-flex align-items-center justify-content-between"
                        *ngFor="let author of allAuthors"
                    >
                        <div>
                            <input type="checkbox" id="author1" />
                            <label for="author1">{{author.firstName}}{{author.lastName}}</label>
                        </div>
                        <span>({{author.booksCount}})</span>
                    </div>
                </div>
            </div>
            <div class="filter w-100">
                <div class="header">
                    <p class="title m-0">Prosečna ocena</p>
                </div>
                <div class="body">
                    <div
                        *ngFor="let index of [].constructor(5); let i = index"
                        class="category d-flex align-items-center justify-content-between"
                    >
                        <div>
                            <app-stars
                                [rate]="i + 1"
                                [showRate]="false"
                            ></app-stars>
                        </div>
                        <span>(4)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="books-container flex-fill">
            <div class="sorting d-flex">
                <div class="show-type">
                    <a href="#" class="active"
                        ><fa-icon [icon]="faTable"></fa-icon
                    ></a>
                    <a href="#"><fa-icon [icon]="faList"></fa-icon></a>
                </div>
                <div class="options d-flex align-items-center">
                    <select class="sort prim text-end">
                        <option value="0" selected>Podrazumevano</option>
                        <option value="1">Po popularnosti</option>
                        <option value="2">Po prosečnoj oceni</option>
                        <option value="3">Prvo najnoviji</option>
                    </select>
                    <div class="separator"></div>
                    <p class="showing-text">Prikaži</p>
                    <select class="sort text-end">
                        <option value="0" selected>8</option>
                        <option value="1">16</option>
                        <option value="2">24</option>
                        <option value="3">32</option>
                    </select>
                </div>
            </div>
            <div class="w-100">
                <app-shop-list></app-shop-list>
            </div>
        </div>
    </div>
</div>
