<app-headtag title="O nama" [link]="links" currentLink="O nama"></app-headtag>
<div
    class="main w-100 d-flex flex-column justify-content-center align-items-center"
>
    <div
        class="main-container about-us-main d-flex flex-column justify-content-center align-items-center"
    >
        <div class="head d-flex flex-column align-items-center">
            <img src="assets/images/badge.png" alt="badge icon" class="badge">
            <h2>Čitanje je putovanje bez kraja, gde svaka stranica otvara novi svet mašte i znanja.</h2>
        </div>
        <div class="w-100 info">
            <img src="assets/images/about.jpg" alt="about" class="w-100">
        </div>
    </div>
</div>
<div class="darker w-100 d-flex align-items-center justify-content-center">
    <div
        class="main-container about-us-main d-flex flex-column justify-content-center align-items-center"
    >
        <h4>Naša Priča</h4>
        <div class="main-info w-100 d-flex justify-content-center">
            <div class="w-25">
                <h4>O MENI</h4>
                <p class="w-100">Ja sam Đorđe Ivanović, student treće godine na Elektronskom fakultetu u Nišu. 
                    Rođen sam 16. oktobra 2002. godine, i tokom svojih studija razvio sam 
                    duboko interesovanje za razvoj web aplikacija. Trenutno radim na svom 
                    projektu za kurs Razvoj web aplikacija, gde primenjujem svoje znanje i 
                    veštine kako bih stvorio inovativna i funkcionalna rešenja. 
                    Strastven sam u učenju i stalnom usavršavanju, što me čini odlučnim 
                    i perspektivnim mladim stručnjakom u oblasti informacionih tehnologija.
                </p>
            </div>
            <div class="separator"></div>
            <div class="w-25">
                <h4>O PROJEKTU</h4>
                <p class="w-100">Kroz ovaj projekat iz predmeta "Razvoj web aplikacija", kreiram platformu koja 
                    omogućava amaterima pisce da postave svoja dela i učine ih dostupnim za besplatno 
                    preuzimanje i čitanje. Naša platforma takođe omogućava korisnicima da ostave 
                    svoje utiske i recenzije, čime doprinosimo zajednici i podržavamo talente u svetu književnosti.
                </p>
            </div>
        </div>
    </div>
</div>