.about-us-main{
    padding: 100px 20px;
}
.badge{
    display: block;
    width: 200px;
}
.head{
    max-width: 500px;
}
.head h2{
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
}
.info{
    margin-top: 100px;
}
.info img{
    border-radius: 15px;
    height: 530;
}
.darker{
    background-color: #FAF5F3;
    margin-top: -365px;
    padding-top: 265px;
}
.darker h4{
    font-size: 40px;
    font-weight: bold;
}
.darker p{
    margin-top: 20px;
}
.separator{
    width: 50px;
}
.main-info{

    margin-top: 50px;
}
.main-info h4 {
    font-size: 24px;
}