<div class="w-100" *ngIf="notFound">
    <div
        class="author-block d-flex flex-column align-items-center justify-content-center"
    >
        <a href="" class="thumbnail">
            <img
                src="assets/images/not-found.png"
            />
        </a>
    </div>
</div>

<div class="w-100" *ngIf="!notFound">
    <div
        class="author-block d-flex flex-column align-items-center justify-content-center"
    >
        <a 
        routerLink="/author/{{author?.id}}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="thumbnail">
            <img
                src="{{author?.picture}}"
            />
        </a>
        <a 
        routerLink="/author/{{author?.id}}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="title">{{author?.firstName}} {{author?.lastName}}</a>
        <p class="books">{{author?.booksCount}} objavljene knjige</p>
    </div>
</div>
