<div class="main-container d-flex align-items-center w-100">
    <div class="image-container position-relative">
        <span class="position-absolute m-0">0{{index+1}}.</span>
        <img
            class="w-100 h-100"
            src="{{bestAuthor?.image? bestAuthor?.image : '../src/aassets/images/best-author.jpg'}}"
        />
    </div>
    <div class="user-info">
        <a 
            routerLink="/author/{{bestAuthor?.id}}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        class="title">{{bestAuthor?.firstName}} {{bestAuthor?.lastName}}</a>
        <span>({{bestAuthor?.totalSaves}} čuvanja)</span>
        <!-- <div class="stars text-start">
            <fa-icon [icon]="faStar" *ngFor="let star of stars"></fa-icon>
        </div> -->
        <app-stars [rate]="getRoundedRating(bestAuthor?.averageRating!)"></app-stars>
    </div>
</div>
