<div class="w-100">
    <h1>Informacije o nalogu</h1>

    <app-custom-input
        title="Email (ne može da se menja)"
        [isRequired]="true"
        [isDisabled]="true"
        [placeholder]="userData?.email!"
    ></app-custom-input>
    <app-change-password 
        (passwordsEmmit)="getPasswords($event)"
        [isError]="isError"
        [isSuccess]="isSuccess"
        [title]="title"
        [notification]="notification"
    ></app-change-password>
</div>

<app-button-with-icon
    [showIcon]="false"
    text="Sačuvaj promene"
    (clickEvent)="changeData()"
    [isDisabled]="buttonDisabled"
></app-button-with-icon>