<!-- <app-not-found title="Još uvek nemate sačuvane knjige."></app-not-found> -->
<p>
    Zdravo 
    <span *ngIf="userData && userData.author">{{userData.author.firstName}} {{userData.author.lastName}}</span> 
    <span *ngIf="userData && !userData.author">{{userData.email}}</span> 
    
    (niste 
    <span *ngIf="userData && userData.author">{{userData.author.firstName}} {{userData.author.lastName}}</span> 
    <span *ngIf="userData && !userData.author">{{userData.email}}</span> 
    ?
    <a href="">Odjavi se</a>)
</p>

<p>
    Sa kotrolne table možete pregledati <a href="">sačuvane knjige</a>,
    upravljati sa <a href="">podacima o nalogu</a>, pregledati
    <a href="">preuzete knjige</a>.
</p>
<a routerLink="/author-dashboard"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="btn">
    <app-button-with-icon
        *ngIf="userData && userData.author"
        [showIcon]="false"
        text="Autorska kontrolna tabla"
    ></app-button-with-icon>
</a>
