.main {
    margin: 80px 0px;
    padding: 0px 20px;
    column-gap: 30px;
    flex-direction: row;
    align-items: start;
}
.main-container2 {
    padding-left: 30px;
}
.navigation-container {
    max-width: 300px;
    background-color: var(--main-dark-color);
    padding: 0px 20px;
}
.lista {
    list-style: none;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0px;
}
.lista li {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 15px 20px;
    transition-duration: 0.3s;
}
.lista li.active,
.lista li:hover {
    background-color: var(--main-color);
    position: relative;
}
.lista li.active::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    background-color: white;
    transform: rotate(45deg) translateY(-50%);
    width: 20px;
    height: 20px;
}
.lista li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition-duration: 0.3s;
}
.lista li a fa-icon {
    color: white;
    font-size: 16px;
}
.addition {
    margin-top: -1em;
    margin-left: -20px;
    margin-right: -20px;
}
.addition a {
    text-decoration: none;
    color: white;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 12px 20px;
}
.addition a.active {
    background-color: var(--main-color);
}
