.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.grid-item {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    // border-bottom: 1px solid var(--light-background);
    width: 450px;
}