.first {
    padding: 10px 0px;
    background-color: var(--main-color);
}
.logo {
    width: 150px;
}
.search-container {
    display: flex;
    max-width: 45%;
}
.input {
    width: 100%;
    height: 48px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-weight: 400;
}
.search {
    width: 60px;
    height: 48px;
    border: none;
    background-color: var(--red-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: white;
    transition-duration: 0.3s;
}
.search:hover {
    background-color: var(--red-color-hover);
}
.user-actions {
    display: flex;
}
.user-actions .icon {
    color: white;
    padding: 15px;
    transition-duration: 0.3s;
}
.user-actions .icon:hover {
    color: black;
}
.separator {
    width: 1px;
    height: 25px;
    background-color: white;
}
.book-actions,
.contact {
    display: flex;
}
.book-actions .icon {
    color: black;
    transition-duration: 0.3s;
}
.book-actions .icon:hover {
    color: black;
}
.book-actions a {
    color: black;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}
.book-actions a:hover .icon {
    scale: 0.92;
}
.navigation {
    display: flex;
}
.navigation a {
    color: black;
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.navigation a::after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition:
        width 0.3s,
        height 0.3s;
}

.navigation a:hover {
    color: var(--main-color);
}

.navigation a:hover::after {
    width: 5px;
    height: 5px;
}
.contact a {
    color: var(--main-color);
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    text-decoration: none;
}
.contact .icon {
    color: black;
}
.contact .heart {
    padding-right: 0;
}
.main-container.second {
    height: 67px;
    display: flex;
}
.main-container.first {
    height: 48px;
}
.main-container.second,
.main-container.first {
    padding: 0px 20px;
}
.hamburger {
    width: 20px;
}
.hamburger span {
    display: inline-block;
    height: 2px;
    margin-bottom: 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: white;
}
.icon-1,
.icon-3 {
    width: 14px;
}
.icon-2 {
    width: 18px;
}
.hamburger:hover span {
    width: 20px;
    background-color: black;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
    .main-container.second {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .search-container,
    .navigation {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
}
