<app-headtag
    title="Moj Nalog"
    [link]="link"
    currentLink="moj nalog"
></app-headtag>
<div
    class="main w-100 d-flex flex-column justify-content-center align-items-center"
>
    <div class="main-container error-container w-100">
        <span>Error: </span>
        <p class="m-0 d-inline-block">The password field is empty.</p>
    </div>
    <div
        class="main-container login-register-main d-flex justify-content-center"
    >
        <div class="login-main-container center-container d-flex">
            <div class="login-container">
                <h2>Prijava</h2>
                <app-custom-input
                    title="Email adresa"
                    placeholder="Unesite vašu email adresu"
                    [isRequired]="true"
                ></app-custom-input>
                <app-custom-input
                    title="Lozinka"
                    placeholder="Unesite vašu lozinku"
                    type="password"
                    [isPassword]="true"
                    [isRequired]="true"
                ></app-custom-input>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" name="Remember" />
                        <label for="Remember" class="remember"
                            >Zapamti me</label
                        >
                    </div>
                    <a href="" class="forgot">Zaboravili ste lozinku?</a>
                </div>
                <app-login-register-button
                    text="Prijavi se"
                ></app-login-register-button>
            </div>
        </div>
        <div class="register-main-container center-container d-flex">
            <div class="register-container">
                <h2>Registracija</h2>
                <app-custom-input
                    title="Email adresa"
                    placeholder="Unesite vašu email adresu"
                    [isRequired]="true"
                ></app-custom-input>
                <app-custom-input
                    title="Lozinka"
                    placeholder="Unesite vašu lozinku"
                    type="password"
                    [isPassword]="true"
                    [isRequired]="true"
                ></app-custom-input>
                <div
                    class="additional-fields"
                    [ngClass]="{ 'field-animation-true': isWriter }"
                >
                    <app-custom-input
                        title="Ime"
                        [isRequired]="true"
                    ></app-custom-input>
                    <app-custom-input
                        title="Prezime"
                        [isRequired]="true"
                    ></app-custom-input>
                    <app-custom-input
                        title="Websajt"
                        [isRequired]="true"
                        addition="https://www.vasvebsajt.com/about"
                    ></app-custom-input>
                </div>
                <div class="profileType">
                    <input
                        type="radio"
                        name="profileType"
                        value="0"
                        checked="checked"
                        (click)="toggleWriter(false)"
                        id="visitor"
                    />
                    <label for="visitor">Ja sam posetilac</label>
                </div>
                <div class="profileType">
                    <input
                        type="radio"
                        name="profileType"
                        value="0"
                        (click)="toggleWriter(true)"
                        id="author"
                    />
                    <label for="author">Ja sam pisac</label>
                </div>

                <p class="description m-0">
                    Vaši lični podaci će biti korišćeni za podršku vašeg
                    iskustva na ovoj veb stranici, za upravljanje pristupom
                    vašem nalogu i za druge svrhe opisane u našoj politici
                    privatnosti.
                </p>

                <app-login-register-button
                    text="Registruj se"
                ></app-login-register-button>
            </div>
        </div>
    </div>
</div>
