<div class="index-main w-100 d-flex">
    <div class="index-left position-relative h-100">
        <img src="assets/images/shape.png" class="w-100" />
        <img src="assets/images/bells.png" class="bells position-absolute" />
        <img src="assets/images/leaf2.png" class="leaf2 position-absolute" />
        <img src="assets/images/gift.png" class="gift position-absolute" />
        <img src="assets/images/book.png" class="bookcase position-absolute" />
        <img src="assets/images/leaf3.png" class="leaf3 position-absolute" />
        <img src="assets/images/leaf.png" class="leaf position-absolute" />
    </div>
    <div
        class="index-right h-100 justify-content-center align-items-center flex-column"
    >
        <p class="title1 m-0">najbolje knjige na balkanu</p>
        <h1 class="text-center">Otkrijte, Preuzmite i Delite e-Knjige</h1>
        <p class="title3 text-center m-0">
            Pronađite širok izbor e-knjiga iz svih žanrova. Preuzmite, čitajte i
            uživajte u svetu knjiga bilo kada i bilo gde.
        </p>
        <app-button1></app-button1>
    </div>
</div>
<div class="tutorial-main w-100 d-flex justify-content-center">
    <div class="main-container tutorial-container w-100">
        <app-tutorial-item></app-tutorial-item>
    </div>
</div>
<div class="newest-main w-100 d-flex justify-content-center">
    <div class="main-container w-100">
        <div class="newest-books d-flex">
            <div class="newest-left">
                <h2 class="m-0">Najnovije Knjige</h2>
                <div class="newest-container w-100">
                    <app-newest-list></app-newest-list>
                </div>
            </div>
            <div class="best-authors">
                <h3 class="m-0">Najbolji Autori</h3>
                <app-best-authors-list></app-best-authors-list>
            </div>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center">
    <div class="main-container w-100">
        <div class="categories-main w-100">
            <app-categories-gallery></app-categories-gallery>
        </div>
    </div>
</div>
