.index-main {
    height: 600px;
    background-color: var(--index-color);
    overflow: hidden;
    justify-content: start;
    align-items: center;
}
.index-left {
    width: 45%;
}
.bells {
    left: 0;
    top: -35px;
    width: 230px;
}
.leaf2 {
    top: 0px;
    left: 180px;
    width: 70px;
}
.gift {
    bottom: -20px;
    left: 190px;
}
.bookcase {
    width: 600px;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.leaf3 {
    top: 70px;
    left: 660px;
    width: 100px;
    z-index: 2;
}
.leaf {
    bottom: 0;
    right: 80px;
    width: 100px;
}

.index-right {
    display: flex;
    width: 45%;
    padding: 20px;
}
.index-right h1,
.index-right .title3 {
    width: 80%;
}
.index-right .title1 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.newest-main {
    padding: 0px 20px;
}
.index-right h1 {
    font-size: 64px;
    line-height: 72px;
    margin: 30px 0px;
}
.index-right .title3 {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-gray-text-color);
}
.tutorial-container {
    padding: 40px 0px;
}
.tutorial-main {
    padding: 0px 20px;
    border-bottom: 1px solid var(--light-gray-text-color);
    margin-bottom: 80px;
}
.newest-books {
    flex-direction: row;
    margin-bottom: 80px;
}
.newest-books .newest-left {
    width: 72%;
    padding-right: 20px;
}
.newest-books .newest-left h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}
.newest-books .newest-left .newest-container {
    margin-top: 40px;
    padding: 40px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.grid-item {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    // border-bottom: 1px solid var(--light-background);
    width: 450px;
}
.separator {
    width: 1px;
    background-color: var(--light-gray-text-color);
}
.best-authors {
    width: 28%;
    padding-left: 20px;
    padding-top: 20px;
}
.best-authors h3 {
    font-size: 26px;
    font-weight: 600;
}
.best-authors-container {
    margin-top: 40px;
}
.categories-main {
    margin-bottom: 80px;
    padding: 0px 20px;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .grid-item:nth-child(odd) {
        border-right: none;
    }
    .newest-books .newest-left .newest-container {
        padding: 20px;
    }
    .newest-books {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {
    .newest-books {
        flex-direction: column;
    }
    .newest-books .newest-left {
        width: 100%;
        padding-right: 0px;
    }
    .best-authors {
        margin-top: 40px;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1366px) {
    .index-left {
        display: none;
    }
    .index-right {
        width: 100%;
    }
}
