<div class="filter w-100">
    <div class="header">
        <p class="title m-0">Žanr</p>
    </div>
    <div class="body">
        <div class="category d-flex align-items-center" *ngFor="let item of allCategories">
            <input 
                type="checkbox" 
                id="{{item}}"
                (change)="onCategoryChange($event, item)"
                value="{{item}}"
            />
            <label for="{{item}}">{{item}}</label>
        </div>
    </div>
</div>

<div class="filter w-100">
    <div class="header">
        <p class="title m-0">Autori</p>
    </div>
    <div class="body">
        <div
            class="category d-flex align-items-center justify-content-between"
            *ngFor="let author of allAuthors"
        >
            <div>
                <input 
                    type="checkbox" 
                    id="{{author.firstName}}{{author.lastName}}"
                    (change)="onAuthorChange($event, author.id)"
                />
                <label for="{{author.firstName}}{{author.lastName}}">{{author.firstName}} {{author.lastName}}</label>
            </div>
            <span>({{author.booksCount}})</span>
        </div>
    </div>
</div>
