<div class="filter w-100">
    <div class="header">
        <p class="title m-0">Žanr</p>
    </div>
    <div class="body">
        <div class="category d-flex align-items-center" *ngFor="let item of allCategories">
            <input type="checkbox" id="{{item}}" />
            <label for="category1">{{item}}</label>
        </div>
    </div>
</div>
<div class="filter w-100">
    <div class="header">
        <p class="title m-0">Autori</p>
    </div>
    <div class="body">
        <div
            class="category d-flex align-items-center justify-content-between"
            *ngFor="let author of allAuthors"
        >
            <div>
                <input type="checkbox" id="author1" />
                <label for="author1">{{author.firstName}}{{author.lastName}}</label>
            </div>
            <span>({{author.booksCount}})</span>
        </div>
    </div>
</div>
<div class="filter w-100">
    <div class="header">
        <p class="title m-0">Prosečna ocena</p>
    </div>
    <div class="body">
        <div
            *ngFor="let index of [].constructor(5); let i = index"
            class="category d-flex align-items-center justify-content-between"
        >
            <div>
                <app-stars
                    [rate]="i + 1"
                    [showRate]="false"
                ></app-stars>
            </div>
            <span>(4)</span>
        </div>
    </div>
</div>