<div class="index-main w-100 ">
    <div class="index-left position-relative h-100">
        <img src="assets/images/shape.png" class="w-100"/>
        <img src="assets/images/bells.png" class="bells position-absolute"/>
        <img src="assets/images/leaf2.png" class="leaf2 position-absolute"/>
        <img src="assets/images/gift.png" class="gift position-absolute"/>
        <img src="assets/images/book.png" class="bookcase position-absolute"/>
        <img src="assets/images/leaf3.png" class="leaf3 position-absolute"/>
        <img src="assets/images/leaf.png" class="leaf position-absolute"/>
    </div>

</div>
