<div class="w-100">
    <fieldset>
        <div class="custom-legend">Promena lozinke</div>
        <app-error [isError]="isError" [isSuccess]="isSuccess" [notification]="notification" [title]="title"></app-error>
        <app-custom-input
            title="Trenutna lozinka (ostavite prazno ukoliko ne želite da promenite trenutnu lozinku)"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
            (valueChange)="setPassword(0, $event)"
        ></app-custom-input>
        <app-custom-input
            title="Nova lozinka"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
            (valueChange)="setPassword(1, $event)"
        ></app-custom-input>
        <app-custom-input
            title="Potvrdite novu lozinku"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
            (valueChange)="setPassword(2, $event)"
        ></app-custom-input>
    </fieldset>
</div>
