<div class="w-100">
    <fieldset>
        <div class="custom-legend">Promena lozinke</div>
        <app-custom-input
            title="Trenutna lozinka (ostavite prazno ukoliko ne želite da promenite trenutnu lozinku)"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
        ></app-custom-input>
        <app-custom-input
            title="Nova lozinka"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
            ></app-custom-input>
        <app-custom-input
            title="Potvrdite novu lozinku"
            type="password"
            [isRequired]="false"
            [isDisabled]="false"
            ></app-custom-input>
    </fieldset>
</div>
