.custom-legend {
    font-weight: 700;
    color: black;
    padding: 0.618em 1em;
    margin-left: -1em;
    background-color: #fff;
    position: absolute;
    top: -22px;
    left: 25px;
}

fieldset {
    padding: 1.618em;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 1.618em;
    margin-top: 50px;
    border: 1px solid lightgray;
    position: relative;
}