<div class="w-100 d-flex align-items-start">
    <div class="image">
        <img
            src="assets/images/comment-user.png"
            alt="User"
            class="w-100 h-100"
        />
    </div>
    <div class="info w-100">
        <app-stars [rate]="review?.rate!"></app-stars>
        <div class="d-flex align-items-center mb-3">
            <strong>{{review?.user?.email}}</strong>
            <p class="datetime">{{formatDate()}}</p>
        </div>
        <div class="comment-content">
            <p class="m-0">
                {{review?.comment}}
            </p>
        </div>
    </div>
</div>
