img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    transition-duration: .3s;
}
a:hover{
    color: var(--main-color);
}