.image {
    width: 80px;
    height: 110px;
}

.title {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
    margin-bottom: 10px;
}
.title:hover {
    color: var(--main-color);
}
.price,
.date {
    font-size: 14px;
    font-weight: 600;
    color: var(--light-gray-text-color);
    margin: 0;
}
.date {
    font-weight: 300;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.grid-item {
    padding: 30px;
    background-color: var(--light-background);
    border-radius: 15px;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: auto;
    }
    .grid-item {
        justify-content: start;
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1366px) {
}
