.first {
    padding: 10px 0px;
    background-color: var(--main-color);
}
.logo {
    width: 150px;
}
.search-container {
    display: flex;
    max-width: 45%;
}
.dropdown-container{
    display: none;
}
.search-container.active .dropdown-container{
    display: block;
    // max-height: 300px;
    width: calc(100% - 55px);
    background-color: white;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.75);
    border-end-end-radius: 24px;
    border-end-start-radius: 24px;
    z-index: 1000;
    top: 48px;
    padding: 20px 20px;
    overflow-y: auto;
}
.input {
    width: 100%;
    height: 48px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-weight: 400;
}
.search-container.active .input{
    border-end-start-radius: 0px;
}
.mobileNavigation {
    display: none;
}
.search {
    width: 60px;
    height: 48px;
    border: none;
    background-color: var(--red-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: white;
    transition-duration: 0.3s;
}
.search:hover {
    background-color: var(--red-color-hover);
}
.user-actions {
    display: flex;
}
.user-actions .icon {
    color: white;
    padding: 15px;
    transition-duration: 0.3s;
}
.user-actions .icon:hover {
    color: black;
}
.separator {
    width: 1px;
    height: 25px;
    background-color: white;
}
.book-actions,
.contact {
    display: flex;
}
.book-actions .icon {
    color: black;
    transition-duration: 0.3s;
}
.book-actions .icon:hover {
    color: black;
}
.book-actions a {
    color: black;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}
.book-actions a:hover .icon {
    scale: 0.92;
}
.navigation {
    display: flex;
}
.navigation a {
    color: black;
    padding: 20px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.navigation a::after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition:
        width 0.3s,
        height 0.3s;
}

.navigation a:hover {
    color: var(--main-color);
}

.navigation a:hover::after {
    width: 5px;
    height: 5px;
}
.contact a {
    color: var(--main-color);
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    text-decoration: none;
}
.contact .icon {
    color: black;
}
.contact .heart {
    padding-right: 0;
}
.newest-books {
    display: block;
}
.mobile-header {
    display: none;
}
.main-container.second {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container.first {
    height: 48px;
}
.main-container.second,
.main-container.first {
    padding: 0px 20px;
}
.hamburger {
    width: 20px;
}
.hamburger span {
    display: inline-block;
    height: 2px;
    margin-bottom: 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: white;
}
.icon-1,
.icon-3 {
    width: 14px;
}
.icon-2 {
    width: 18px;
}
.hamburger:hover span {
    width: 20px;
    background-color: black;
}
.second-background {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 1024px) {
    .search-container,
    .navigation {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .main-container.second,
    .second-background {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background-color: white;
        z-index: 10;
    }

    .main-container.second.active,
    .second-background.active {
        animation: showMobile 0.3s ease-in-out forwards;
    }
    @keyframes showMobile {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }
    .second-background {
        max-width: none;
        height: 100%;
        background-color: var(--lite-background);
    }
    .mobileNavigation {
        display: block;
    }
    .main-container.second.active {
        flex-direction: column;
        padding: 0;
        justify-content: start;
    }
    .mobile-header {
        display: block;
        background-color: var(--main-color);
        height: 68px;
        display: flex;
        align-items: center;
        padding: 20px;
        margin-bottom: 40px;
    }
    .navigation {
        width: 100%;
        margin-bottom: 40px;
    }
    .navigation a {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }
    .newest-books {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1280px) {
}
