<nav id="nav" class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="first w-100 d-flex align-items-center justify-content-center">
        <div
            class="main-container first d-flex align-items-center justify-content-between"
        >
            <a
                href=""
                class="mobileNavigation"
                (click)="toggleShowMobileMenu(true, $event)"
            >
                <div class="hamburger d-flex flex-column">
                    <span class="icon-1"></span>
                    <span class="icon-2"></span>
                    <span class="icon-3"></span>
                </div>
            </a>
            <a 
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            ><img src="assets/images/logo.svg" class="logo" /></a>
            <div class="search-container w-100 position-relative" [ngClass]="{'active': showDropDown}" (click)="showDropDown = false">
                <input
                    type="text"
                    class="input"
                    placeholder="Pretražuj knjige..."
                    [formControl]="searchControl"
                />
                <button class="search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
                <div class="dropdown-container position-absolute">
                    <app-search-book-item *ngFor="let items of searchItems" [book]="items"></app-search-book-item>
                </div>
            </div>
            <div class="user-actions align-items-center justify-content-center">
                <a
                    routerLink="/client-dashboard/0"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    ><fa-icon [icon]="faUser" class="icon"></fa-icon
                ></a>
                <div class="separator"></div>
                <a
                    routerLink="/client-dashboard/1"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    ><fa-icon [icon]="faHeart" class="icon heart"></fa-icon
                ></a>
            </div>
        </div>
    </div>
    <div
        class="second-background w-100"
        [ngClass]="{ active: showMobileMenu === true }"
        (click)="toggleShowMobileMenu(false, $event)"
    >
        <div
            class="main-container second"
            [ngClass]="{ active: showMobileMenu === true }"
        >
            <div class="mobile-header w-100">
                <img src="assets/images/logo.svg" />
            </div>
            <div
                class="book-actions newest-books align-items-center justify-content-center"
            >
                <a href="" class="d-flex">
                    <fa-icon [icon]="faNewspaper" class="icon"></fa-icon>
                    <p class="mx-2 my-0">Najnovije knjige</p>
                </a>
            </div>
            <!-- <a href=""><img src="assets/images/logo.svg" class="logo"/></a> -->
            <div class="navigation">
                <a 
                    routerLink="/"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    Početna
                </a>
                <a 
                    routerLink="/shop"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >Knjige</a>
                <a 
                    routerLink="/all-authors"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >Svi autori</a>
                <a href="">Blog</a>
                <a 
                    routerLink="/about"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >O nama</a>
            </div>
            <div class="contact align-items-center justify-content-center">
                <a href="" class="d-flex">
                    <fa-icon [icon]="faPhone" class="icon"></fa-icon>
                    <p class="mx-2 my-0">+381 63 73 03 883</p>
                </a>
            </div>
        </div>
    </div>
</nav>
