<div class="grid-container">
    <div class="grid-item">
        <app-category-item [image]="'category1.jpg'"></app-category-item>
    </div>
    <div class="grid-item">
        <app-category-item [image]="'category2.jpg'"></app-category-item>
    </div>
    <div class="grid-item">
        <app-category-item [image]="'category3.jpg'"></app-category-item>
    </div>
    <div class="grid-item">
        <app-category-item [image]="'category4.jpg'"></app-category-item>
    </div>
    <div class="grid-item">
        <app-category-item [image]="'category5.jpg'"></app-category-item>
    </div>
    <div class="grid-item">
        <app-category-item [image]="'category6.jpg'"></app-category-item>
    </div>
</div>
