<div
    class="main w-100 h-100 d-flex align-items-center justify-content-start position-relative"
>
    <div class="image">
        <img
            src='{{book?.image}}'
        />
    </div>
    <div class="info d-flex flex-column justify-content-start">
        <a href="" class="title text-start">{{book?.title}}</a>
        <app-stars></app-stars>
        <a href="" class="author text-start">{{book?.author?.firstName}} {{book?.author?.lastName}}</a>
        <div class="download">{{book?.category}}</div>
        <p class="reviews text-start">23 recenzija</p>
    </div>

    <div
        class="save position-absolute d-flex align-items-center justify-content-center"
        [ngClass]="{'active': book?.isSaved}"
    >
        <fa-icon [icon]="faHeart" *ngIf="!book?.isSaved"></fa-icon>
        <fa-icon [icon]="faHeartFill" *ngIf="book?.isSaved"></fa-icon>
    </div>
</div>
