.main {
    padding: 0px 20px;
    margin-bottom: 80px;
}
.login-register-main {
    margin-top: 80px;
}
.center-container {
    width: 50%;
}
.center-container h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.register-container,
.login-container {
    width: 100%;
    max-width: 440px;
}
.login-main-container {
    justify-content: end;
    padding-right: 5%;
}
.register-main-container {
    justify-content: start;
    padding-left: 5%;
}
.remember {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    color: var(--light-gray-text-color);
}
.forgot {
    text-decoration: none;
    border-bottom: 1px dotted var(--light-gray-text-color);
    color: black;
    font-weight: 300;
    font-size: 14px;
    color: var(--light-gray-text-color);
    transition-duration: 0.3s;
}
.forgot:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}
.profileType label {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.profileType {
    margin-bottom: 20px;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.error-container, .success-container {
    padding: 17px;
    color: white;
    margin-top: 150px;
}
.error-container{
    background-color: var(--error-color);
    border-left: 10px solid var(--error-second-color);
}

.success-container {
    background-color: var(--light-green);
    border-left: 10px solid green;
}

.error-container span {
    font-weight: 600;
}
.error-container p {
    font-weight: 300;
}
.additional-fields {
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease-in-out;
}

.field-animation-true {
    max-height: 1000px;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
    .login-register-main {
        flex-direction: column;
    }
    .register-main-container,
    .login-main-container {
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .register-main-container {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1366px) {
}
