/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
    --main-color: #f65d4e;
    --red-color: #cf3424;
    --red-color-hover: #f4402f;
    --index-color: #fff5da;
    --dark-gray-text-color: #444;
    --light-gray-text-color: #999;
    --light-background: #e5e5e580;
    --error-color: #e2401c;
    --error-second-color: #c43617;
    --footer-color: #282828;
    --blue-color: #3d9cd2;
    --dark-blue-color: #3487b6;
}

@font-face {
    font-family: "Sora";
    src: url("./assets/fonts/Sora-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "Sora", sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1410px;
}
