<app-not-found *ngIf="!savedBooks || savedBooks.length === 0" title="Još uvek nemate sačuvane knjige."></app-not-found>
<table class="table">
    <tbody>
        <ng-container *ngIf="savedBooks">
            <tr *ngFor="let savedBook of savedBooks">
                <td>
                    <a href="" class="remove" (click)="remove($event, savedBook.id)">X</a>
                </td>
                <td class="image-cont">
                    <img
                        src="{{savedBook.image}}"
                        class="image"
                    />
                </td>
                <td class="info">
                    <div>
                        <a href="" class="title">{{savedBook.title}}</a>
                        <p class="price">BESPLATNO</p>
                        <p class="date">14. jul, 2024</p>
                    </div>
                </td>
                <td class="actions">
                    <app-button-with-icon
                        class="fullbutton"
                        [icon]="faDownload"
                        [text]="savedBook.downloaded ? 'Preuzmi ponovo' : 'Preuzmi besplatno'"
                        [downloaded]="savedBook.downloaded!"
                        (clickEvent)="downloadPdf(savedBook.pdf, savedBook.title, savedBook.id, savedBook.downloaded!)"
                    ></app-button-with-icon>
                    <app-button-with-icon
                        class="onlyicon"
                        [icon]="faDownload"
                        text=""
                        (clickEvent)="downloadPdf(savedBook.pdf, savedBook.title, savedBook.id, savedBook.downloaded!)"
                        [downloaded]="savedBook.downloaded!"
                    ></app-button-with-icon>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<app-loadmore *ngIf="showLoadMore" [minValue]="savedBooks?.length" [maxValue]="userData?.savedBooks?.length" (clickTrigger)="loadMore()"></app-loadmore>
<!-- <button *ngIf="showLoadMore" (click)="loadMore()">Ucitaj jos</button> -->
