<div class="w-100">
    <h1>Promeni Svoje Podatke</h1>
    <app-upload-image 
        text="Dodaj profilnu sliku"
        [currentImageUrl]="picture"
        
    ></app-upload-image>
    
    <div class="twoinrow d-flex w-100">
        <app-custom-input 
            title="Ime" 
            placeholder="Vaše ime"
            [isDisabled]="false"
            [defaultText]="userData?.author?.firstName || ''"
            (valueChange)="changeName($event)"
        ></app-custom-input>
        <app-custom-input
            title="Prezime"
            placeholder="Vaše prezime"
            [isDisabled]="false"
            [defaultText]="userData?.author?.lastName || ''"
            (valueChange)="changeSurname($event)"
        ></app-custom-input>
    </div>

    <app-custom-input
        title="Email (ne može da se menja)"
        placeholder="Vaš email"
        [isDisabled]="true"
        [defaultText]="userData?.email || ''"
    ></app-custom-input>

    <app-custom-textarea 
        title="O meni" 
        [placeholder]="about"
        (valueChange)="changeAbout($event)"
        [defaultText]="userData?.author?.about || ''"
    ></app-custom-textarea>

    <div class="threeinrow d-flex w-100">
        <app-custom-input
            class="w-100"
            title="Facebook"
            [isDisabled]="false"
            placeholder="https://www.facebook.com/..."
            (valueChange)="changeFacebook($event)"
            [defaultText]="userData?.author?.facebook || ''"
        ></app-custom-input>
        <app-custom-input
            class="w-100"
            title="Instagram"
            [isDisabled]="false"
            placeholder="https://www.instagram.com/..."
            (valueChange)="changeInstagram($event)"
            [defaultText]="userData?.author?.instagram || ''"
        ></app-custom-input>
        <app-custom-input
            class="w-100"
            title="LinkedIn"
            [isDisabled]="false"
            placeholder="https://www.linkedin.com/..."
            (valueChange)="changeLinkedin($event)"
            [defaultText]="userData?.author?.linkedin || ''"
        ></app-custom-input>
    </div>
    <app-button-with-icon
        [showIcon]="false"
        text="Sačuvaj promene"
        (click)="onSaveChanges()"
    ></app-button-with-icon>
</div>