button {
    margin-top: 30px;
    border: none;
    height: 56px;
    background-color: var(--main-color);
    transition-duration: 0.3s;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
button:hover {
    background-color: var(--red-color-hover);
}

button:disabled{
    background-color: var(--button-disabled);
}