<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container">
        <div class="all-authors w-100">
            <ul class="type-author w-100 d-flex flex-wrap">
                <li *ngFor="let letter of getAlphabet()">
                    <a
                        href=""
                        class="position-relative"
                        [ngClass]="{ active: selectedLetter === letter }"
                        (click)="setSelectedLetter(letter, $event)"
                        >{{ letter }}</a
                    >
                </li>
            </ul>
        </div>
        <div class="w-100">
            <div class="authors-main d-flex flex-wrap w-100">
                <app-author-small-widget
                    *ngFor="let i of [].constructor(10)"
                    class="author-main w-100"
                ></app-author-small-widget>
            </div>
        </div>
    </div>
</div>
