<div class="w-100 d-flex align-items-center justify-content-center">
    <div class="main-container">
        <div class="all-authors w-100">
            <ul class="type-author w-100 d-flex flex-wrap">
                <li *ngFor="let letter of getAlphabet()">
                    <a
                        href=""
                        class="position-relative"
                        [ngClass]="{ active: selectedLetter === letter }"
                        (click)="setSelectedLetter(letter, $event)"
                        >{{ letter }}</a
                    >
                </li>
            </ul>
        </div>
        <div class="w-100">
            <div class="authors-main d-flex flex-wrap w-100">
                <ng-container *ngIf="(allAuthors && allAuthors.length !== 0 ) || (filteredAuthors && filteredAuthors.length !== 0)">
                    <ng-container *ngFor="let author of (selectedLetter === 'SVI') ? allAuthors : filteredAuthors">
                        <app-author-small-widget
                            class="author-main w-100"
                            [author]="author"
                        ></app-author-small-widget>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="(allAuthors && allAuthors.length === 0) || (filteredAuthors && filteredAuthors.length === 0)">
                    <app-author-small-widget
                        class="author-main w-100"
                        [author]="null"
                        [notFound]="true"
                    ></app-author-small-widget>
                </ng-container>
            </div>
        </div>
    </div>
</div>
